@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

*{
  font-family: 'Inter', sans-serif;

}
.bottom-slider-banner{
  position: absolute;
  width:100%;
  height: 100%;
 // background-color: black;

}
#slide-heading1{
   color: rgba(70, 70, 70, 1);
   text-align: center;
   font-size: 3.2rem;

   margin: 50px 0px 0px 0px;
   
}
#slide-heading2{
   color:rgba(120, 120, 120, 1);
   font-size: 2rem;
   text-align: center;
   margin: 20px 0px;

}
#slide-about{
  display: flex;
  width: 100%;
  justify-content: center; 
  margin: 120px 0px 0px 150px;
  
}
#slide-about H4{
  color: rgba(96, 96, 96, 0.88);
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
  width: 550px;
}
#person-name{
  color: rgba(34, 34, 34, 0.8);
  margin:50px 150px 0px 0px;
  text-align: center;

}
#person-designation{
  color: rgba(70, 70, 70, 0.6);
  font-weight: 400;
  text-align: center;
  margin: 20px 0px 0px 0px;;

}

//---------------------------------------------------------max-width: 970px-----------------
@media only screen and (max-width: 970px) {
  
  #slide-heading1{
    font-size: 24px;
     margin:30px 50px;
  }
  #slide-heading2{
    font-size: 12px;
     margin: 30px 65px;
  }
  #slide-about{
    font-weight: lighter;
    font-size: 12px;
    width: 300px;
    margin:0px 40px;
  
  }
  #person-name{
    color: white;
    font-size: 12px;
    margin: 130px 0px 0px 50px ;
  }
  #person-designation{
    font-size: 12px;
    margin: 10px 0px 0px 50px ;
  }
  
}



//---------------------------------------------------------max-width: 850px-----------------
@media only screen and (max-width: 850px) {
  
  #slide-heading1{
    font-size: 20px;
     margin:30px 50px;
  }
  #slide-heading2{
    font-size: 10px;
     margin: 30px 65px;
  }
  #slide-about{
    font-weight: lighter;
    font-size: 10px;
    width: 300px;
    margin:0px 40px;
  
  }
  #person-name{
    color: white;
    font-size: 10px;
    margin: 130px 0px 0px 50px ;
  }
  #person-designation{
    font-size: 10px;
    margin: 10px 0px 0px 50px ;
  }
  
}

//---------------------------------------------------------max-width: 650px-----------------
@media only screen and (max-width: 650px) {
  
  #slide-heading1{
    font-size: 15px;
     margin:15px 20px;
  }
  #slide-heading2{
    font-size: 8px;
     margin: 15px 25px;
  }
  #slide-about{
    font-weight: lighter;
    font-size: 7px;
    width: 200px;
    margin:0px 25px;
  
  }
  #person-name{
    color: white;
    font-size: 7px;
    margin: 80px 0px 0px 30px ;
  }
  #person-designation{
    font-size: 7px;
    margin: 5px 0px 0px 30px ;
  }
  
}