
#play-btn, #pause-btn{
    background:none;
    border:none;
    position: absolute;
    color:black;  
    right:50px;
   
}
// #play-btn{
//     opacity: 0;
//     &:hover{
//         opacity: 1;
//     }
// }
// #pause-btn{
//     opacity: 0;
//     &:hover{
//         opacity: 1;
//     }
// }